body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: hsla(203, 94%, 48%, 0.799);
    color: #fff;
    padding: 2px;
    text-align: center;
}

header h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


nav {
    text-align: center;
    background-color:  hsla(26, 94%, 48%, 0.799);
    padding: 10px 0;
    margin: 5px;
    width: 100%;
}

nav a {
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    border-radius: 50px;
    background-color: white;
    color: black;
}



footer {
    background-color: hsla(203, 94%, 48%, 0.799);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color: #000;
    background-color: #fff;
    padding: 5px;
    border-radius: 50px;
}

main {
    font-size: 20px;
}
